<ion-header>
    <ion-navbar>
        <ion-title>
            Protokoll
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <form [formGroup]="protocolcreateForm" (submit)="updateprotocol()">
              <div *ngFor="let protocoldata of protocoldata2| async">
                <div *ngIf="checkprotocolID(protocoldata.bookingID) == true">
                      <ion-card>
                        <ion-card-header>Fahrer A</ion-card-header>
                        <ion-card-content>
                            <ion-item>
                                <ion-label stacked>Name Fahrer A</ion-label>
                                <ion-input  formControlName="driverAName" type="text" value= {{protocoldata.driverAName}} ></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>Anschrift Fahrer A</ion-label>
                                <ion-input  formControlName="driverAAnschrift" type="text" value= {{protocoldata.driverAAnschrift}} ></ion-input>
                            </ion-item>
                        </ion-card-content>
                    </ion-card>
                    <ion-card>
                        <ion-card-header>Fahrer B</ion-card-header>
                        <ion-card-content>
                            <ion-item>
                                <ion-label stacked>Name Fahrer B</ion-label>
                                <ion-input  formControlName="driverBName" type="text" value= {{protocoldata.driverBName}} ></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>Anschrift Fahrer B</ion-label>
                                <ion-input  formControlName="driverBAnschrift" type="text" value= {{protocoldata.driverBAnschrift}} ></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>Kennzeichen Fahrer B</ion-label>
                                <ion-input  formControlName="driverBAnschrift" type="text" value= {{protocoldata.driverBAnschrift}} ></ion-input>
                            </ion-item>
                        </ion-card-content>
                    </ion-card>
                    <ion-item>
                        <ion-label stacked>Umstände</ion-label>
                        <ion-input formControlName="circumstances" type="text" value={{protocoldata.circumstances}}></ion-input>
                    </ion-item>
                      <button ion-button block type="submit">Anlegen</button>
                </div>
            </div>
        </form>
        <form [formGroup]="protocolcreateForm" (submit)="createprotocol()">
          <div *ngIf="protocolboolean == true">
                    <ion-card>
                        <ion-card-header>Fahrer A</ion-card-header>
                        <ion-card-content>
                            <ion-item>
                                <ion-label stacked>Name:</ion-label>
                                <ion-input  formControlName="driverAName" type="text" value= "" ></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>Anschrift:</ion-label>
                                <ion-input  formControlName="driverAAnschrift" type="text" value= "" ></ion-input>
                            </ion-item>
                        </ion-card-content>
                    </ion-card>
                    <ion-card>
                        <ion-card-header>Fahrer B</ion-card-header>
                        <ion-card-content>
                            <ion-item>
                                <ion-label stacked>Name:</ion-label>
                                <ion-input  formControlName="driverBName" type="text" value= "" ></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>Anschrift:</ion-label>
                                <ion-input  formControlName="driverBAnschrift" type="text" value= "" ></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>Kennzeichen:</ion-label>
                                <ion-input  formControlName="driverBAnschrift" type="text" value= "" ></ion-input>
                            </ion-item>

                        </ion-card-content>
                    </ion-card>
                    <ion-item>
                        <ion-label stacked>Umstände</ion-label>
                        <ion-input formControlName="circumstances" type="text" value=""></ion-input>
                    </ion-item>
                      <button ion-button block type="submit">Anlegen</button>
          </div>
        </form>

    </ion-list>
</ion-content>
