<ion-header>
    <ion-navbar>
        <ion-title>
            Protokoll
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <form [formGroup]="protocolcreateForm" (submit)="createprotocol()">
          <ion-item>
            <ion-label stacked>Fahrer A</ion-label>
            <ion-input formControlName="driverA" type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Fahrer B</ion-label>
            <ion-input formControlName="driverB" type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Umstände</ion-label>
            <ion-input formControlName="circumstances" type="text" value=""></ion-input>
        </ion-item>
          <button ion-button block type="submit">Anlegen</button>
        </form>

    </ion-list>

    <ion-row class="center">
        <button ion-button large icon-only (click)="takePhoto()">
        <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
        </button>
    <button ion-button large icon-only (click)="getPicture(0)">
        <ion-icon ios="ios-images" md="md-images"></ion-icon>
    </button>

    </ion-row>
    <ion-card>
        <img [src]="captureDataUrl" *ngIf="captureDataUrl"/>
        <button ion-button (click)="upload()" *ngIf="captureDataUrl">Upload</button>
    </ion-card>

    <button ion-button block type="">Speichern</button>
</ion-content>
