<ion-header>
    <ion-navbar>
        <ion-title>
            Protokoll
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            Fahrer A
        </ion-card-header>
        <ion-card-content>

        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            Fahrer B
        </ion-card-header>
        <ion-card-content>


        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            Unfallumstände
        </ion-card-header>
        <ion-card-content>

        </ion-card-content>
    </ion-card>

    <ion-row class="center">
        <button ion-button large icon-only (click)="takePhoto()">
        <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
        </button>
    <button ion-button large icon-only (click)="getPicture(0)">
        <ion-icon ios="ios-images" md="md-images"></ion-icon>
    </button>

    </ion-row>
    <ion-card>
        <img [src]="captureDataUrl" *ngIf="captureDataUrl"/>
        <button ion-button (click)="upload()" *ngIf="captureDataUrl">Upload</button>
    </ion-card>

    
</ion-content>