<ion-header>
    <ion-navbar no-border-bottom>
      <ion-title>
        Einstellungen 
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <ion-card-header>Nutzinformationen</ion-card-header>
      <ion-card-content>
        E-Mail Adresse: <br>
        {{user.email}} <br>
        Angemeldet als:
        <div *ngFor="let userData of users | async">
          <div *ngIf="userData.admin == true && checkCurrentUser(userData.userMail) == true ">
            <div>
              Admin
            </div>
            <div *ngIf="userData.developer == true && checkCurrentUser(userData.userMail) == true ">
            <div>
              Entwickler
            </div>
               <div *ngIf="userData.developer == false && userData.admin == false && checkCurrentUser(userData.userMail) == true ">
            <div>
              Nutzer
            </div>
               </div>
            </div>
        </div>
        </div>

      </ion-card-content>
    </ion-card>
    <ion-footer padding>
      <div *ngFor="let userData of users | async">

          <div *ngIf="userData.admin == true && checkCurrentUser(userData.userMail) == true ">
            <div>
              <button ion-button (click)="gotoUserAdmin()" block>Userverwaltung</button>
              <button ion-button (click)="gotoadmin()" block>Admin</button>
            </div>
          </div>
      </div>

      </ion-footer>

  </ion-content>



