<ion-header>
    <ion-navbar no-border-bottom>
      <ion-title>
        Einstellungen 
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <ion-footer padding>
      <div *ngFor="let userData of users | async">

          <div *ngIf="userData.admin == true && checkCurrentUser(userData.userMail) == true ">
            <div>
              <button ion-button (click)="gotoUserAdmin()" block>Userverwaltung</button>
              <button ion-button (click)="gotoadmin()" block>Admin</button>
            </div>
          </div>
      </div>

      </ion-footer>

  </ion-content>



