<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title align="middle">
      <img  class="capgeminiLogo" src="../assets/imgs/logoCapgemini.png" align="middle" height="30px" width="auto" />
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logoutUser()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="bookings1">
      <ion-segment-button value="currentbookings">
        Aktuelle Buchungen
      </ion-segment-button>
      <ion-segment-button value="bookinghistory">
        Buchungshistorie
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div [ngSwitch]="bookings1">
    <ion-list *ngSwitchCase="'currentbookings'">
      <div>
        <ion-item>
          Buchung
        </ion-item>
        <ion-item-sliding *ngFor="let data of carArray "#item>
             <ion-item *ngIf="data.userID == checkuID() && data.dateStart > checkCurrentDate()">

               <ion-col style="text-align: left">
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <p>{{data.marke}} {{data.modell}} {{data.kennzeichen}}</p>
                      <p>Startdatum: {{data.dateStart | date: 'dd/MM/yyyy'}}</p>
                      <p>Startzeit: {{data.dateStart | date: 'HH:mm'}}</p>
                    </ion-col>
                    <ion-col>
                      <p> Enddatum: {{data.dateEnd | date: 'dd/MM/yyyy'}} </p>
                      <p>Endzeit: {{data.dateEnd | date: 'HH:mm'}}</p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
             </ion-item>


          <ion-item-options side="right">
            <button ion-button large icon-only (click)="goToProtocoll()">
                    <ion-icon name="clipboard"></ion-icon>
            </button>
            <button color="danger" ion-button large icon-only (click)="deleteBooking(data)">
                    <ion-icon name="close-circle"></ion-icon>
            </button>
          </ion-item-options>

        </ion-item-sliding>
      </div>

    </ion-list>

    <ion-list *ngSwitchCase="'bookinghistory'">
      <div>
        <ion-item>
          Buchung
        </ion-item>
        <ion-item-sliding *ngFor="let data of carArray "#item>
          <ion-item *ngIf="data.userID == checkuID() && data.dateStart < checkCurrentDate()">
            <ion-col style="text-align: left">
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <p>{{data.marke}} {{data.modell}} {{data.kennzeichen}}</p>
                        <p>Startdatum: {{data.dateStart | date: 'dd/MM/yyyy'}}</p>
                        <p>Startzeit: {{data.dateStart | date: 'HH:mm'}}</p>
                      </ion-col>
                      <ion-col>
                        <p> Enddatum: {{data.dateEnd | date: 'dd/MM/yyyy'}} </p>
                        <p>Endzeit: {{data.dateEnd | date: 'HH:mm'}}</p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
            </ion-col>
          </ion-item>
          <ion-item-options side="right">
              <button ion-button large icon-only (click)="goToProtocoll(data)">
                      <ion-icon name="clipboard"></ion-icon>
              </button>
            </ion-item-options>
      </ion-item-sliding>
     </div>
    </ion-list>
  </div>

</ion-content>
