<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title align="middle">
      <img  class="capgeminiLogo" src="../assets/imgs/logo.svg" align="middle" height="30px" width="auto" />
    </ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="bookings1">
      <ion-segment-button value="upcomingbookings">
        Reservierungen

      </ion-segment-button>
      <ion-segment-button value="currentbookings">
        Buchungen
      </ion-segment-button>
      <ion-segment-button value="bookinghistory">
        Historie
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div [ngSwitch]="bookings1">
    <ion-list *ngSwitchCase="'currentbookings'">
      <div>
        <ion-item-sliding *ngFor="let data of carArray " #item>
             <ion-item *ngIf="data.userID == checkuID() && data.dateStart < checkCurrentDate()">

               <ion-col style="text-align: left">
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <p><b>{{data.marke}} {{data.modell}} {{data.kennzeichen}} </b></p>
                      <p>Max. Anzahl Sitzplätze: {{data.sitze}}</p>
                      <p>Startdatum: {{data.dateStart | date: 'dd/MM/yyyy'}}</p>
                      <p>Startzeit: {{data.dateStart | date: 'HH:mm'}}</p>
                    </ion-col>
                    <ion-col>
                      <p>Gebuchte Sitzplätze: {{data.seat}}</p>
                      <p> Enddatum: {{data.dateEnd | date: 'dd/MM/yyyy'}} </p>
                      <p>Endzeit: {{data.dateEnd | date: 'HH:mm'}}</p>
                      <div *ngIf="data.protocol== true">
                          <p><i>Unfallprotokoll vorhanden</i></p>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
             </ion-item>


          <ion-item-options side="right">
            <div *ngIf="data.protocol== false|| data.protocol==null">
              <button color="secondary" ion-button large icon-only (click)="goToProtocoll(data)">
                      <ion-icon ios="ios-clipboard"  md="md-clipboard"></ion-icon>
              </button>
            </div>
            <div *ngIf="data.protocol== true">
              <button color="secondary" ion-button large icon-only (click)="viewProtocoll(data)">
                      <ion-icon ios="ios-clipboard"  md="md-clipboard"></ion-icon>
              </button>
            </div>
            <button color="danger" ion-button large icon-only (click)="deleteBooking(data)">
                    <ion-icon ios="ios-close-circle" md="md-close-circle"></ion-icon>
            </button>
          </ion-item-options>

        </ion-item-sliding>
      </div>
      <div *ngIf="availableBookings == false">
        Keine aktuellen Buchungen verfügbar
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'upcomingbookings'">
      <div>
        <ion-item-sliding *ngFor="let data of carArray "#item>
             <ion-item *ngIf="data.userID == checkuID() && data.dateStart > checkCurrentDate()">

               <ion-col style="text-align: left">
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <p><b>{{data.marke}} {{data.modell}} {{data.kennzeichen}} </b></p>
                      <p>Max. Anzahl Sitzplätze: {{data.sitze}}</p>
                      <p>Startdatum: {{data.dateStart | date: 'dd/MM/yyyy'}}</p>
                      <p>Startzeit: {{data.dateStart | date: 'HH:mm'}}</p>
                    </ion-col>
                    <ion-col>
                      <p>Gebuchte Sitzplätze: {{data.seat}}</p>
                      <p> Enddatum: {{data.dateEnd | date: 'dd/MM/yyyy'}} </p>
                      <p>Endzeit: {{data.dateEnd | date: 'HH:mm'}}</p>
                      <div *ngIf="data.protocol== true">
                          <p><i>Unfallprotokoll vorhanden</i></p>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
             </ion-item>


          <ion-item-options side="right">
            <button ion-button large icon-only (click)="editSeats(data)">
            <ion-icon ios="ios-people" md="md-people"></ion-icon>
            </button>

            <div *ngIf="data.protocol== false|| data.protocol==null">
              <button color="secondary" ion-button large icon-only (click)="goToProtocoll(data)">
                      <ion-icon ios="ios-clipboard"  md="md-clipboard"></ion-icon>
              </button>
            </div>
            <div *ngIf="data.protocol== true">
              <button color="secondary" ion-button large icon-only (click)="viewProtocoll(data)">
                      <ion-icon ios="ios-clipboard"  md="md-clipboard"></ion-icon>
              </button>
            </div>
            <button color="danger" ion-button large icon-only (click)="deleteBooking(data)">
                    <ion-icon ios="ios-close-circle" md="md-close-circle"></ion-icon>
            </button>
          </ion-item-options>

        </ion-item-sliding>
      </div>
      <div *ngIf="availableBookings == false">
        Keine aktuellen Buchungen verfügbar
      </div>

    </ion-list>

    <ion-list *ngSwitchCase="'bookinghistory'">
      <div>
        <ion-item-sliding *ngFor="let data of carArray_history "#item>
          <ion-item *ngIf="data.userID == checkuID()">
            <ion-col style="text-align: left">
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <p><b>{{data.marke}} {{data.modell}} {{data.kennzeichen}} </b></p>
                        <p>Max. Anzahl Sitzplätze: {{data.sitze}}</p>
                        <p>Startdatum: {{data.dateStart | date: 'dd/MM/yyyy'}}</p>
                        <p>Startzeit: {{data.dateStart | date: 'HH:mm'}}</p>
                      </ion-col>
                      <ion-col>
                        <p>Gebuchte Sitzplätze: {{data.seat}}</p>
                        <p> Enddatum: {{data.dateEnd | date: 'dd/MM/yyyy'}} </p>
                        <p>Endzeit: {{data.dateEnd | date: 'HH:mm'}}</p>
                        <div *ngIf="data.protocol== true">
                          <p><i>Unfallprotokoll vorhanden</i></p>
                      </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
            </ion-col>
          </ion-item>
          <ion-item-options side="right">
              <div *ngIf="data.protocol== false|| data.protocol==null">
              <button color="secondary" ion-button large icon-only (click)="goToProtocoll(data)">
                      <ion-icon ios="ios-clipboard"  md="md-clipboard"></ion-icon>
              </button>
            </div>
            <div *ngIf="data.protocol== true">
              <button color="secondary" ion-button large icon-only (click)="viewProtocoll(data)">
                      <ion-icon ios="ios-clipboard"  md="md-clipboard"></ion-icon>
              </button>
            </div>
            </ion-item-options>
      </ion-item-sliding>
        <div *ngIf="bookingHistory == false">
          Keine Buchungen in der Historie verfügbar
        </div>
     </div>
    </ion-list>
  </div>

</ion-content>
