<ion-header>
    <ion-navbar no-border-bottom>
      <ion-title>
        Admin Einstellungen 
      </ion-title>
    </ion-navbar>
  
    <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="admin">
        <ion-segment-button value="car_create">
          Fahrzeug anlegen
        </ion-segment-button>
        <ion-segment-button value="car_list">
          Fahrzeugliste
        </ion-segment-button>
        <ion-segment-button value="booking">
          Buchungen
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div [ngSwitch]="admin">
        <ion-list *ngSwitchCase="'car_create'">
        <form [formGroup]="carcreateForm" (submit)="createcar()" novalidate>
          <ion-item>
            <ion-label stacked>Modell</ion-label>
            <ion-input formControlName="modell" type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Marke</ion-label>
            <ion-input formControlName="marke" type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Sitze</ion-label>
            <ion-input formControlName="sitze" type="number" value=""></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Farbe</ion-label>
            <ion-input formControlName="farbe" type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Kennzeichen</ion-label>
            <ion-input formControlName="kennzeichen" type="text" value=""></ion-input>
        </ion-item>
        
        <button ion-button block type="submit">Anlegen</button>
        </form>

        </ion-list>
        <ion-list *ngSwitchCase="'car_list'">

            <ion-item-sliding *ngFor="let data1 of cars | async" #item>
                <ion-item>
                    {{data1.marke}}, {{ data1.modell }}, {{data1.kennzeichen}}
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button (click)="editcar(data1.id)">Ändern</button>
                    <button ion-button color="danger" (click)="deletecar(data1.id)">Löschen</button>
                </ion-item-options>

            </ion-item-sliding>

<!--
          <ion-card (click)="goToCarProfile()" *ngFor="let data of cars | async">
              <ion-card-header>
                  {{data.marke}}, {{ data.modell }}
                </ion-card-header>
                <ion-card-content>
                <p>Kennzeichen: {{data.kennzeichen}}</p>
                <p>Sitze: {{data.sitze}}</p>
                <p>Farbe: {{data.farbe}}</p>
            </ion-card-content>
          </ion-card>
        </ion-list>
        <ion-list *ngSwitchCase="'booking'">
            <ion-card>
                <ion-item>
                  Buchung
                  </ion-item>
                    <p>Kennzeichen: Test</p>
                    <p>Sitze: Test</p>
                    <p>Farbe: Test</p>
                  <button ion-button clear >
                    <ion-icon ios="ios-trash" md="md-trash" (click)="deletecar()" danger></ion-icon>
                    Löschen
                  </button>
                
              </ion-card>
              -->
        </ion-list>
      </div>
    
  </ion-content>
  
  <style>
    ion-list:first-child {
      margin-top: 32px;
    }
    ion-list + ion-list {
      margin-top: 0;
    }
  </style>