<!--
  Generated template for the BookCarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Verfügbare Fahrzeuge</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div>
    <ion-item>
      <ion-label> Startdatum:</ion-label>
      <ion-label class="alignme">{{dateStart | date: 'dd/MM/yyyy'}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label> Enddatum: </ion-label>
      <ion-label class="alignme">{{dateEnd | date: 'dd/MM/yyyy' }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label> Startzeit: </ion-label>
      <ion-label class="alignme">{{dateStart | date: 'HH:mm' }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label> Endzeit: </ion-label>
      <ion-label class="alignme">{{dateEnd | date: 'HH:mm'}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Anzahl Sitzplätze: </ion-label>
      <ion-label class="alignme">{{seat}}</ion-label>
    </ion-item>
  </div>
  <br>
  <div>
    <form>
      <ion-card *ngFor="let dataCar of carArray1">
        <ion-card-header>
          {{dataCar.marke}}, {{ dataCar.modell }}
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col style="text-align: left">
              <p>Kennzeichen: {{dataCar.kennzeichen}}</p>
              <p>Verfügbare Sitzplätze: {{dataCar.sitze}}</p>
              <p>Farbe: {{dataCar.farbe}}</p>

              <div *ngIf="userBool == true && adminBool == false">
                  <button ion-button (click)="bookCar(dataCar)" >Buchen</button>
              </div>

            </ion-col>
            <ion-col>

              <img [src]="dataCar.imgUrl" *ngIf="dataCar.imgUrl != ''" >
              <img src="../assets/imgs/noCarImg.png" *ngIf="dataCar.imgUrl  == ''">


            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <div *ngIf="availableCars == false">
        Keine Fahrzeuge verfügbar
      </div>
    </form>
  </div>

</ion-content>
