<!--
  Generated template for the BookCarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Verfügbare Fahrzeuge</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div>
    <ion-title>
      Buchungsinformationen
    </ion-title>
    <ion-item>
      <label> Startdatum: {{dateStart | date: 'dd/MM/yyyy'}}</label>
    </ion-item>

    <ion-item>
      <label> Enddatum: {{dateEnd | date: 'dd/MM/yyyy' }}</label>
    </ion-item>

    <ion-item>
      <label> Startzeit: {{dateStart | date: 'HH:mm' }}</label>
    </ion-item>

    <ion-item>
      <label> Endzeit: {{dateEnd | date: 'HH:mm'}} </label>
    </ion-item>

    <ion-item>
      <label>Anzahl Sitzplätze: {{seat}}</label>
    </ion-item>


  </div>
  <br>
  <div>
    <ion-title>
      Verfügbare Fahrzeuge {{carArray1}}
    </ion-title>
    <form>
      <ion-card *ngFor="let dataCar of carArray1">
        <ion-card-header>
          {{dataCar.marke}}, {{ dataCar.modell }}
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col style="text-align: left">
              <p>Kennzeichen: {{dataCar.kennzeichen}}</p>
              <p>Verfügbare Sitzplätze: {{dataCar.sitze}}</p>
              <p>Farbe: {{dataCar.farbe}}</p>
              <button ion-button (click)="bookCar(dataCar)" >Buchen</button>
            </ion-col>
            <ion-col>
              <div *ngIf="dataCar.picture !== null || dataCar.picture !== '' " style="text-align: right">
                <img width="20%" src="{{dataCar.picture}}">
              </div>
              <div *ngIf="dataCar.picture == null || dataCar.picture == '' " style="text-align: center">
                <i><p>Kein Bild verfügbar</p></i>
              </div>


            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <div *ngIf="availableCars == false">
        Keine Fahrzeuge verfügbar
      </div>
    </form>
  </div>

</ion-content>